
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

  body{
    font-family: 'Poppins', sans-serif;
  }

  :root{
    --dark-color:#21243D;
    --black-color:#000000;
    --tag-color:#878CFF;
    --heading-color:#1E1E1E;
    --text-color:#535353;
    --bg-color:#FFFFFF;
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  img{
    max-width: 100%;
    transition: all 0.5s ease;
  }
  
img:hover{
    cursor: pointer;
    transform: rotate(4deg);

  }


::section{
    background-color:var(--text-color);
    color: var(--white-color);
}

.container{
    max-width:1280px ;
    margin: auto;

}

h1{
    font-size: 44px;
    font-weight: 700;
}

h2{
    font-size:40px ;
    font-weight: 700;
    color: var(--heading-color);

}

p{
    font-size: 18px;
    font-weight: 400;
}
.para{

    font-size: 20px;
    width: 320px;
    font-weight: 300;
    color: var(--dark-color);
}

/* ul{
    list-style: none;
} */

.common-btn{
    background-color: var(--tag-color);
    color: var(--bg-color);
    font-size: 20px;
    padding:10px 20px;
    text-decoration: none;
    display: inline-block;
    margin: 10px;
}



/* header section start */
header{
    background-color: var(--bg-color);
    padding: 30px;

}

.header-logo h2{
    color: var(--dark-color);
    font-size: 36px;
}

.header-flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav ul{
    display: flex;
    gap: 30px;
    font-size: 20px;
}

nav ul li a{
    color:var(--black-color);
    list-style: none;
    text-decoration: none;
}

.start-btn{
    background-color: #383838;
    color: var(--bg-color);
    font-size: 20px;
    font-weight: 500;
    padding: 10px 20px;
    text-decoration: none;

}


/* hero section start */

.hero{
    padding: 60px;
    background-color: var(--bg-color);

}

.hero-flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-content p{
    margin: 30px;
}


.hero-2{
    padding: 60px;
    background-color:#FCFCFC ;
}


.hero-2-flex-container{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

.hero-2-content{
    width: 450px;
} 

/* hero-2 end */

/* work section start */

.work-content{
    padding: 60px;
}
 .work h2{
    text-align: center;
 }

 .work-flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.project-one p{
    width: 320px;
    font-size: 20px;

}

.project-two{
    width: 320px;
    padding: 10px;
}

.project-three{
    width: 320px;
}

/* work section end */

/* insight section */

.insight-content{
    margin: 60px 0 0 0;
    text-align: start;
}

.flex-container-2{
    display: flex;
    justify-content: space-between;
    gap: 100px;
    height: 100%;
    padding: 10px;
    width: 560px;
    height: 400px;
    flex-shrink: 0;
    margin: 50px;
}

.box-contact{
    border: 1px solid #E2E2E2;
background: #FFF;
    width: 490px;
    height: 370px;
    flex-shrink: 0;
    align-items: center;
    padding: 50px;

}

.box-contact-2{
    border: 1px solid #E2E2E2;
background: #FFF;
    width: 490px;
    height: 370px;
    flex-shrink: 0;
    align-items: center;
    padding: 50px;

}

.featured{
    color:var(--text-color);
    padding:0 0 0 20px;
 
}
.box-contact h3{
    width: 340px;
    font-size: 26px;
    padding: 10px;
}
.box-contact p{
    width: 430px; 
    color: var(--text-color);
    /* text-align: justify; */
    padding: 10px;
}


.box-contact-2 h3{
    width: 340px;
    font-size: 26px;
    padding: 10px;
}
.box-contact-2 p{
    width: 430px; 
    color: var(--text-color);
    /* text-align: justify; */
    padding: 10px;
}

.learn-more{
    font-size: 16px;
    color: var(--tag-color);
    font-weight: 500;
    text-decoration-line: underline;
    padding: 20px;
    text-align: left;
}

footer{
    /* width: 1280px; */
    height: 182px;
    flex-shrink: 0;
    background-color: var(--black-color);

}
.flex-container-3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
gap: 10px;

}

h5{
    color:#FFFFFF ;
    font-size: 14px;
    font-weight: 400;
    text-align: end;
}

@media screen {
    
}

